{
  "KICKORA_ADMOB_ANDROID_APP_ID": "ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy",
  "KICKORA_AD_NATIVE_MAIN": "ca-app-pub-xxxxxxxxxxxxxxxx/zzzzzzzzzz",
  "KICKORA_AD_NATIVE_FEED": "ca-app-pub-xxxxxxxxxxxxxxxx/wwwwwwwwww"
}
